.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logocontainer {
    height: 100%;
    width: 70px;
    padding: 25px;
    margin-left: 50px;
  }

  .optioncontainer{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;

    .options {
      padding: 10px 15px;
      text-decoration: none;
      color: black;
      text-transform: uppercase;

    }
  }
}